# CONFIGURACIÓN DEL BOT DE DISCORD
DISCORD_TOKEN=tu_token_de_bot_aqui
CLIENT_ID=tu_client_id_aqui
GUILD_ID=tu_servidor_id_aqui

# CONFIGURACIÓN DEL SERVIDOR WEB MILITAR RETRO
PORT=3000
WEB_URL=http://localhost:3000

# CLAVE MAESTRA DE ACCESO AL PANEL DE ADMINISTRACIÓN WEB
ADMIN_KEY=USMC-COMMAND-2026
# Nombre que aparecerá en el historial de acciones del panel
ADMIN_NAME=Estado Mayor USMC
